<div class="row">
  <div class="col-md-4">
     <div class="card">
       <img class="card-img-top img-adjusted" >
        <div class="card-body" *ngFor="let x of arrayData2">
          <img class="card-img-top img-fluid" [src]="x.strMealThumb" alt="Card image cap">
              <div class="card-block">
                Meal id:<h2 class="card-title">{{x.idMeal}}</h2>
                Meal Name:<h5 class="card-title">{{x.strMeal}}</h5>   
              </div>
        </div>
   </div>
  </div>
 </div>