<div class="container">
  <div class="row">
    <div class="col-md-1">
    <img src="./assets/images/4.jfif" alt="" class="image" width="50" height="50">
    </div>
    <div class="col-md-3">
    <h2>Cassix<span class="hst">Host</span><sup>TM</sup></h2>
    </div>
    <div class="col-md-6">
    
    </div>
    <div class="col-md-2">
            <a href="#" class="btn"><i class="fa fa-facebook"></i></a>
            <a class="btn"><i class="fa fa-linkedin"></i></a>
            <a class="btn"><i class="fa fa-twitter"></i></a>
            <a class="btn"><i class="fa fa-instagram"></i></a> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
        <img src="./assets/images/5.jpg" width="700px" height="400px">
        <div class="content">
          <p class="para">Buy Domain & <br>
            Web Hosting<br>
            and Get SSL<br>
            Certificate<br>
            FREE!
          </p>
        </div>
    </div>
    <div class="col-md-4 size">
      <div class="container id1">
        <form>
          <div class="form-group">
            <input type="text" placeholder="Enter your name" class="form-control">
          </div>
          <div class="form-group">
            <input type="email" placeholder="Enter your email" class="form-control">
          </div>
          <div class="form-group">
            <input type="tel" placeholder="Enter your mobilenumber" class="form-control">
          </div>  
          <button class="btn btn-primary submtbtn" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <h3>Get the most with CassixHost</h3>
  <div class="row">
    <div class="col-md-4">
       <div class="hero">
        <span class="intent"><i class='fas fa-globe' style='font-size:36px'></i></span>
          <p class="custm">
           Custom Domain Name<br>
           1 Year Registration<br>
           Quick & Easy
         </p><br>
         <div class="box1">
         </div>
       </div>
    </div>
    <div class="col-md-4">
      <div class="hero">
        <span class="intent"><i class='fas fa-globe' style='font-size:36px'></i></span>
        <p class="custm">
          Custom Domain Name<br>
          1 Year Registration<br>
          Quick & Easy
        </p><br>
        <div class="box1">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="hero">
        <span class="intent"><i class='fas fa-globe' style='font-size:36px'></i></span>
        <p class="custm">
          Custom Domain Name<br>
          1 Year Registration<br>
          Quick & Easy
        </p><br>
        <div class="box1">
        </div>
      </div><br><br><br>
    </div>
  </div>
</div>