<!-- <div class="container">
  <h2 align="center">Meals Category List:</h2><br>
  <table class="table">
    <tr align="center">
      <th>Meals Category</th>
    </tr>
    <tr *ngFor="let x of arrayData" align="center">
      <td> {{x.strCategory}} </td>
    </tr>
  </table>
<hr>
  <app-mealslist></app-mealslist>
</div>

<hr>

<app-meals></app-meals>

<br>

<h2 appCustamdirective>pandu kumar custam directive</h2>

<br>

<app-dynamiccolor></app-dynamiccolor>

<br><br>

 <app-register></app-register> 

 <app-paralink></app-paralink> -->

 <!-- <app-infinitescroll></app-infinitescroll> -->
<!-- <input type="text" [(ngModel)]="name">
 <app-parent></app-parent>

 <app-example2></app-example2> -->
 <ul *ngFor="let x of scholdata">
   <li>
    {{x.page}}
   </li>
   <li>
    {{x.per_page}}
   </li>
   <li>
    {{x.total_pages}}
   </li>
   <li>
    {{x[4]}}
   </li>
 </ul>

 <!-- <app-tdfforms></app-tdfforms>

 <app-reactieform></app-reactieform>  -->

 <!-- <app-switchmap></app-switchmap> -->

 <!-- <app-projects></app-projects> -->

 <!-- <app-tdfform></app-tdfform>

 <app-reactiveform></app-reactiveform>

 
 <app-popup></app-popup>


<app-home></app-home> -->

<app-navbar></app-navbar>